.wrapper {
  border-top: 2px solid rgb(237, 234, 234);
  font-size: 13px;
  width: 100%;
  padding-top: 10px;
}
.Infor {
  display: flex;
  margin-bottom: 8px;
  flex-wrap: wrap;
  a {
    color: rgba(22, 24, 35, 0.5);
    margin: 5px 6px 0 0;
    text-decoration: none;
    &:hover {
      color: rgba(22, 24, 35, 0.5);
      text-decoration: underline;
      transition: ease-out 500ms;
    }
  }
}
.Copyright {
  color: rgba(22, 24, 35, 0.5);
}
