.header {
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgba(0 0 0 / 12%);
}
.inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
.logo {
  svg {
    padding: 5px 0;
  }
}

// Action
.actions {
  padding: 0;
  display: flex;
  height: 36px;

  .Menu_message {
    background-color: transparent;
    font-size: 22px;
    margin: 0 16px;
    height: 100%;
    width: 30px;
    position: relative;
  }
  .Menu_inbox {
    height: 100%;
    background-color: transparent;
    font-size: 22px;
    padding: 3px 3px 0;
    &:after {
      font-size: 10px;
      color: white;
      content: '4';
      position: absolute;
      right: 58px;
      height: 16px;
      width: 16px;
      background-color: #ff7373;
      border-radius: 8px;
    }
  }
  .ava {
    width: 36px;
    border-radius: 50%;
    margin-left: -8px;
    margin-right: 8px;
  }
  .options {
    margin-left: 16px;
    position: relative;
    cursor: pointer;
    font-style: normal;
    padding: 8px;
    align-self: center;
    width: 20px;
    font-size: 16px;
  }
}
.customeClass {
  color: rgba(22, 24, 35, 0.75);
}
// custome tooltip
