.Accounts {
  border-top: 2px solid rgb(222, 213, 213);
  padding-top: 16px;
  h4 {
    color: var(--primary);
    font-weight: 600;
    margin: 8px 0 16px 0;
    cursor: pointer;
  }
}
.AccItems {
  padding-top: 8px;
}
